
* {
    box-sizing: border-box;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../images/back.jpg");

}
p{
    padding:5px;
}

#logo{
    margin-left: 40%;
    height: 100px;
    width :200px;

}
#wins{
    font-size: 20px;


}
#losses{
    font-size: 20px;
}
.status{
    font-size: 25px;

}

.current{
    font-size: 30px;

}

.tubbies{

   height:250px;

   float:left;

   padding: 0px;

}

.vals{
    font-size: 30px;
    text-align: left;

}

.tellys{
    margin-top: 10px;
}

#scoreboard{
    margin-top:10px;

    font-size: 400px;

}

#intro{
    font-size: 18px;
    background-color: lightgoldenrodyellow;
    border: solid;
    border-color: orange;
}
#header{
    font-family: 'Allerta Stencil';font-size: 29px;
    color: white;
    padding:10px;
}



